* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /*padding-left: 20px;
  padding-right: 20px;*/
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
/*.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px ;
  border: 2px solid black;
  color: #000000
}*/

/**{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}*/

.card-header{ 
  width: 80%;
  background: #2c3a47;
  padding: 40px;
  border-radius: 25px;
  margin: auto;
  text-align: center;
}
.card-header:hover{
  box-shadow: 24px 4px 24px 0 rgba(0, 0, 0, 0.8);
}

.pic{
  display: inline-block;
  padding: 10px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 25px;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

.pic img{
  display: block;
  width: 150px;
  height: 200px;
  border-radius: 20px;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
  text-shadow: 2px 2px 16px #000;
}
.text{
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  text-shadow: 2px 2px 16px #000;
}

.desc{
  font-size: 18px;
  color: #e66767;
  font-family: consolas;
}
.connect{
  font-size: 18px;
  color: #f2f2f2;
  font-family: consolas;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 24px;
  transition: .3s linear;
  text-decoration: none;
}

.sm a:hover{
  color: #e66767;
}

.card-footer{
  background: #f4f4f4;
  padding: 60px 10px;
}
