/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    .containertop{
        width: auto;
        text-align: right;
        float: right;
        margin-top: 15px;
    }
    .containerbottom{
        width: 100%;
        /*margin: 0 auto;  Center the DIV horizontally */
        text-align: center;
    }
    .fixed-header, .fixed-footer{
        font-family: Consolas;
        width: 100%;
        /*position: sticky;      */
        background: #333;
        padding: 0px 0px;
        color: #fff;
        transition: all .3s ease;
        box-shadow:0 8px 16px rgba(0,0,0, .5);
    }
    .fixed-header{
        /*margin-top: -105px;*/
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 50px;
        padding-bottom: 5px;
    }

    .fixed-footer{
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        font-family: Consolas;
        padding: 2px;
        margin-top: 50px;
    }    
    /* Some more styles to beutify this example */
    nav a{
        font-family: Consolas;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
    .container nav a:hover{
        border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: #e66767;
        box-shadow: 0 2px 4px 0 white;

    }
    .title a:hover{
        border: 1px solid white;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: #e66767;
        padding: 5px;
        box-shadow: 0 2px 4px 0 white;
    }

    .title, .title a
    {
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 15px 10px 25px 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .title a, .title img
    {
        border: 1px solid #e66767;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 5px;
    }