pd1{
  border: 1px solid red; 
  margin-left: 20px;
}
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
 P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    font-size: 30px;
}
divs {
	width: 100px;
	height: 100px;
	background-color: red;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}