/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}





/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
}
.nav__logo:hover {
  color: var(--first-color);
  transition: color 0.3s ease;
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}





/*Active menu*/
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}




/*=== Show menu ===*/
.show {
  right: 0;
}





/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  display: grid;
  align-items: center;
}
.home__data {
  align-self: center;
  z-index: 2;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color {
  color: var(--first-color);
}
.home__social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  z-index: 2;
}
.home__social-icon {
  display: inline-block;
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  will-change: transform;
  position: relative;
}
.home__social-icon:hover i{
  color: var(--first-color);
  transform: scale(2) rotate(10deg);
  transition: transform 0.3s ease;
}
.home__social-icon.highlight-effect i {
  color: var(--first-color);
  transform: scale(1.3) translateY(-15px);
  transition: transform 0.3s ease;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
  z-index: 1;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.home__blob {
  fill: var(--first-color);
}
.home__blob-img {
  width: 360px;
}

@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
}
@media screen and (min-width: 768px) {
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.button:active {
  transform: translateY(1px);
}








/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}
.about__text {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: var(--mb-4);
  white-space: pre-line;
}






/* ===== SKILLS ===== */
.skills__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: left;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__levels-reference {
  margin-bottom: 2rem;
}

.skills__reference-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.skills__reference-list {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  color: var(--text-color);
}

.skills__reference-list li {
  margin-bottom: 0.5rem;
}

.skills__categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  text-align: left;
}

.skills__category {
  flex: 1 1 calc(33.333% - 2rem);
  min-width: 250px;
  margin-bottom: 2rem;
}

.skills__category-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--first-color);
  margin-bottom: 1rem;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.skills__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  text-align: center;
}

.skills__data:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(14, 36, 49, 0.3);
}

.skills__icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills__name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.skills__level {
  font-size: 1rem;
  color: var(--text-color-light);
}

.skills__img {
  border-radius: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills__categories-container {
    flex-direction: column;
  }

  .skills__category {
    flex: 1 1 100%;
  }
}






/* ===== WORK ===== */
.work__container {
  row-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.work__category {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.work__category-container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.work__project-container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  width: calc(33% - 2rem);
  transition: transform 0.5s;
  height: 250px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.work__img img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}


.work__img:hover img {
  transform: scale(1.1);
}

.work__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}

.work__img:hover .work__img-overlay {
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-10px);
}

.work__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.work__description {
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
  display: none;
}
.work__tech {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.work__link {
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  position: relative;
  z-index: 2;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.work__link:hover,
.work__link:focus {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  text-decoration: none;
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .work__img {
    width: 100%;
    /* Full width on smaller screens */
    height: auto;
    /* Adjust height to maintain aspect ratio */
  }

  .work__container {
    flex-direction: column;
    /* Stack items vertically */
  }
}
/* ===== MODAL ===== */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 800px;
  width: 80%;
  height: 60%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content h2,
.modal-content h3,
.modal-content p {
  position: relative;
  z-index: 2;
  color: white;
}

.modal .work__description {
  display: block;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}

.close-button:hover,
.close-button:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}






/*===== HOBBIES =====*/
.hobbies__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.hobby {
  text-align: center;
  flex: 1 1 30%;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  padding: 1rem;
  border-radius: 0.5rem;
}
.hobby__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}
.hobby__title {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
.hobby__description {
  font-size: 1rem;
  color: var(--text-color);
}
.hobby:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(14, 36, 49, 0.3);
}
.hobby__link {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-top: var(--mb-2);
}
.hobby__link:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.hobby__link:active {
  transform: translateY(1px);
}
@media screen and (max-width: 768px) {
  .hobbies__container {
    flex-direction: column;
    align-items: center;
  }
}






/* ===== CONTACT ===== */
.contact__container {
  row-gap: 2rem;
  text-align: center;
}
.contact__form {
  display: grid;
  row-gap: 1.5rem;
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.contact__input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact__label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
  transition: border-color 0.3s;
}
.contact__input:focus {
  border-color: var(--first-color);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
.contact__button:hover {
  background-color: var(--first-color-dark);
}
.contact__success-message,
.contact__error-message {
  display: none;
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.contact__error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}





/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
  transition: color 0.3s;
}
.footer__icon:hover {
  color: #ff9eb3;
}
.footer__copy {
  font-size: var(--smaller-font-size);
}





/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
